<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>471690789872-rtoi1f3m9qerhttbs74390pudvpdrnh9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.471690789872-rtoi1f3m9qerhttbs74390pudvpdrnh9</string>
	<key>API_KEY</key>
	<string>AIzaSyDBBdIiFjgvnE07Fv3Kf-I3ELis23S8Vq8</string>
	<key>GCM_SENDER_ID</key>
	<string>471690789872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.teaTime</string>
	<key>PROJECT_ID</key>
	<string>tea-time-app-9e507</string>
	<key>STORAGE_BUCKET</key>
	<string>tea-time-app-9e507.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:471690789872:ios:3a71eb4a19f2156dae1335</string>
</dict>
</plist>